body {
    margin:0;
    background-color: black;
    font-family: Arial;
}
.head {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.85);
    position: sticky;
    top:0;
    z-index: 10;
}
.foto{
    height: 80px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.nav{
    display: flex;
}
.link {
    padding-right: 20px;
    color: white;
    text-decoration: none;
}
.sfondosignora{
    width: 100%;
    height: 100%;
    align-self: flex-start;
}
.sfumatura {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(23,66,65,0.0)0%, rgba(23,66,65,0.42) 50%, rgba(0,0,0,1)100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-bottom: 100px;
  }
.contenitoreimmagine {
    position: relative;
    overflow: hidden;
    align-self: flex-start;
    margin-top: -60px;
}
.wellness {
    margin-top: 200px;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 100;
}
.descrizione{
    font-size: 90px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -5px;
    font-weight: 100;
}
.bottone{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color:white;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.4s ease;
    font-weight: 100;
}
.bottone:hover{
    background-color:rgba(17, 47, 46);
    border:1px solid rgb(17, 47, 46);
}
.prova {
    display:flex;
    flex-direction: column;
}
.contenuto_titolo{
    display:flex;
    flex-direction: column;
    padding-left: 20%;
    padding-top: 3%;

}
.titolone{
    color:rgba(255, 255, 255 , 0.7);
    font-size: 60px;
    padding-bottom: 16px;
    font-weight: 100;
}
.titolo{
    color:rgba(255, 255, 255 , 0.9);
    font-size: 35px;
    margin-bottom: 7px;
    font-weight: 100;
}
.paragrafo{
    color:rgba(255, 255, 255 , 0.9);
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5;
}
.contenuto_foto{
    display:flex;
    flex-direction: row;
}
.contenuto {
    display:flex;
    flex-direction: column;
}
.luna{
    padding-left: 0px;
    height: 100%;
    width: 50%;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 50px;
}