body {
    margin:0;
    font-family: sans-serif;
}
.logo{
    display:flex;
    height: 120px;
    background-color: #044389;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.nav {
    display:flex;
    height:30px;
    background-color: #044389;
    padding-bottom: 7px;
    padding-left: 5%;
}
.search {
    height: 30px;
    margin-right: 5px;
    border:none;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 5px;
    width: 93%;

}
.link {
    display: flex;
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 18px;
    border-bottom: 2px solid #044389;
}
p {
    font-size: 14px;
}
.input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2.5%;
    color: #0751a5;
    
}
.form{
    border-radius: 5px;
    border-width:0.5px;
    border-color: black;
    border-style: solid;
    margin: 4px;
}
.descrizione{
    border-radius: 5px;
    border-width:0.5px;
    border-color: black;
    border-style: solid;
    margin: 4px;
}
.bottone{
    width: 30%;
    height: 30px;
    background-color: #0751a5;
    color: white;
    border-radius: 2px;
    margin-top: 10px;
    border:0;
    font-size: 15px;
    border-radius: 5px;
}
.foto {
    height: 45px;
    margin-right: 10px;
}