body {
    margin:0;
    font-family: sans-serif;
}
.logo{
    display:flex;
    height: 120px;
    background-color: #044389;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.nav {
    display:flex;
    height:30px;
    background-color: #044389;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
    padding-bottom: 7px;
}
.search {
    height: 30px;
    margin-right: 5px;
    border:none;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 5px;
    width: 93%;

}
.link {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 25px;
    border-bottom: 2px solid #044389;
}

.domande {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    justify-content:space-around;
    align-items: center;
    justify-content: center;
}
.singoledomande {
    display: flex;
    flex-direction: column;
    border: 2px solid #044389;
    color: black;
    text-decoration: none;
    width: 80%;
    margin-top: 7px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 19px;
    border-radius: 15px;
    justify-content: center;

}
p {
    font-size: 18px;
}
.titolo {
    display: flex;
    color: black;
    height: 40px;
    background-color: hsla(212, 94%, 28%, 0.5);
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formsingoli {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid #044389;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
    border-radius: 5px;
    text-decoration: none;
}
.formtitolo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-bottom: 2px solid #044389;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: 0;
    background-color: hsla(212, 94%, 28%, 0.3);
    padding: 5%;
    color: #0751a5;
    font-size: 19px;
}
.formdescrizione {
    display: flex;
    flex-direction: column;
    padding: 7%;
    padding-top: 0;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.boxsearch {
    display: flex;
    background-color:#044389 ;
    justify-content: center;
    padding-bottom: 7px;
}
.foto {
    height: 45px;
    margin-right: 10px;
}
.bottonerispondi{
    display: flex;
    background-color: #0751a5;
    color: white;
    padding: 14px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 5px;
    width: 200px;
    font-size: 15px;
}