body {
    margin:0;
    font-family: sans-serif;
}
.logo{
    display:flex;
    height: 120px;
    background-color: #044389;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.nav {
    display:flex;
    height:30px;
    background-color: #044389;
    padding-bottom: 7px;
    padding-left: 5%;
}
.foto {
    height: 45px;
    margin-right: 10px;
}
.link {
    display: flex;
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 18px;
    border-bottom: 2px solid #044389;
}