body {
    margin:0;
    font-family: sans-serif;
}
.logo{
    display:flex;
    height: 120px;
    background-color: #044389;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.nav {
    display:flex;
    height:30px;
    background-color: #044389;
    padding-bottom: 7px;
    padding-left: 5%;
}
.foto {
    height: 45px;
    margin-right: 10px;
}
.link {
    display: flex;
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 18px;
    border-bottom: 2px solid #044389;
}
.ricercato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.risultato{
    border:1px solid black;
    width: 85%;
    padding: 15px;
    margin: 7px;
    border-radius: 15px;
    border: 2px solid #044389;
}
.titolo {
    display: flex;
    color: black;
    height: 40px;
    background-color: hsla(212, 94%, 28%, 0.5);
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}